<?php
declare(strict_types=1);

namespace {{{data.namespace}}};

/**
 * {{{data.description}}}
 *
 * Class {{data.definitionName}}
 * @package {{{data.namespace}}}
 */

{{#data.extends}}
class {{{data.definitionName}}} extends {{{data.extends}}}
{{/data.extends}}
{{^data.extends}}
class {{{data.definitionName}}} extends \Edukit\Dto\Swagger
{{/data.extends}}
{
    {{#data.properties}}
    /**
    {{#description}}
     * @var {{{type}}} {{{description}}}
    {{/description}}
    {{^description}}
     * @var {{{type}}} {{{name}}}
    {{/description}}
     */
    protected ${{name}};

    {{/data.properties}}
    {{#data.properties}}
    /**
    {{#description}}
     * Получает {{{description}}}
    {{/description}}
    {{^description}}
     * Получает {{{name}}}
    {{/description}}
     *
     * @return {{{type}}}
     */
    public function get{{camelCase}}()
    {{=<% %>=}}
    {
        return $this-><%name%>;
    }
    <%={{ }}=%>
    
    /**
    {{#description}}
     * Устанавливает {{{description}}}
    {{/description}}
    {{^description}}
     * Устанавливает {{{name}}}
    {{/description}}
     *
     * @param $value {{{type}}} {{{description}}}
     * @return $this
     */
    public function set{{camelCase}}($value)
    {{=<% %>=}}
    {
        $this-><%name%> = $value;
        return $this;
    }
    <%={{ }}=%>

    {{/data.properties}}
}
